<h2><%= @todo.todo_list.name %></h2>
<ul>
  <li><%= @todo.title %></li>
  <li><%= @todo.body %></li>
  <li class="count"><%= @todo.todo_count %></li>
</ul>

<%= link_to "edit", edit_todo_path(@todo) %>
